<h2>Travel Wishlist</h2>

<form method="POST" action="{% url 'place_list' %}">
    {% csrf_token %}
    {{ new_place_form }}
    <button type="submit">Add</button>
</form>

{% for place in places %}

<div>
    {{ place.name }}
    <form method="POST" action="{% url 'place_was_visited' place.pk %}">
        {% csrf_token %}
        <button>Visited</button>
    </form>
</div>

{% empty %}
    <p>No places in your wishlist</p>
{% endfor %}

<br><br>
<div><a href="{% url 'visited' %}">Visited Places</a></div>
<div><a href="{% url 'about' %}">About</a></div>
